body{
  cursor: pointer;
}
.RoundBtn{
  background: #97c83e;
  text-align: center;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: absolute;
  font-size: 20px;
  color: white;  
  box-shadow: 5px 5px 10px 2px #ffffffcc;
  cursor: crosshair;
}

.Score{
  text-align: right;
  font-size: 20px;
}